body{margin: 0;}

.hero{
min-height:100vh;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 16px 40px;
background-color:hsla(224,86%,17%,1);
background-image:
radial-gradient(at 51% 24%, hsla(213,81%,27%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 29% 77%, hsla(222,71%,40%,1) 0px, transparent 50%),
radial-gradient(at 56% 57%, hsla(130,82%,18%,1) 0px, transparent 50%);
}


.logo{
  display:block;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px); /* Safari */

  border: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.25);
  
}

.logo{
  border-radius: 49%;
  padding-bottom: 3px;
  padding-top: 3px;
}

h1{
  font-size: 18px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 600px;
  margin-bottom: 15px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#link-tree{
  width: 100%;
  max-width: 320px;
}

.btn {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); /* Safari */

  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.25);

  color: white;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
;  font-size: 14px;
  text-decoration: none;

}

.btn {
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 
    0 12px 40px rgba(0, 0, 0, 0.35);
}


.btn svg{
  width: 20px;
  height: 20px;
  display: block;
}
.btn span{
  line-height: 1;
}

  h2 {text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 10px;
  max-width: 600px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
#thumbnails{
  display: flex;
  gap: 25px;
 
  width: 100%;
  max-width: 360px;
  margin-left: 80px;
  max-width: 400px;

 
}
.thumb img{
  width:150px;
  border-radius: 12px;
  cursor:pointer;
  transition: transform 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.25);
}

.thumb img:hover{
  transform:scale(1.05);
}
.thumb p{
  margin-top:8px;
  font-size: 14px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}